.cards {
    padding: 4rem 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
   
    .card-one, .card-two, .card-three {
        @include cards;
    }

    .ready {
        box-sizing: border-box;
        text-align: center;
        
        h2 {
            font-size: 28px;
        }

        a {
            display: block;
            text-decoration: none;
        }
    }

}