footer {
    background-color: $VeryDarkCyan;
     .section1 {
         padding-top: 100px;
         color: white;

         img {
             width: 200px;
         }
     }
}




.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}