footer {
    background-color: $VeryDarkCyan;
     .section1 {
         padding: 150px 1rem;
         color: white;

         img {
             width: 170px;
             padding-bottom: 1rem;
         }
     }
}




.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}