header {
    background: url(/images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.6rem;

        
        img {
            width: 130px;   
        }

        a {
            text-decoration: none;
            font-size: 13.5px;
            font-weight: 600;
            padding: 0.5rem 1rem;
            background-color: white;
            border-radius: 15%;
        }
        
    }
}