header {
    background: url(/images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.6rem;

        
        img {
            width: 130px;   
        }

        a {
            text-decoration: none;
            font-size: 13px;
            font-weight: 600;
            margin-top: -4px;
            padding: 0.3rem 1.7rem;
            background-color: white;
            border-radius: 25px;
            box-shadow: rgba(39, 39, 39, 0.24) 0px 3px 8px;
        }
        
    }
    .main {
        margin: 5rem auto;
    }
}