@mixin cards {
    margin: 2rem 2rem;
    text-align: center;
    box-shadow: rgba(39, 39, 39, 0.24) 0px 3px 8px;
    border-radius: 25px;

    .card {
        padding: 0 2rem 1rem 2rem;
    }
    .img-cards {
        padding: 30px 50px;
        
            
            img {
                width: 100%;
                margin-bottom: 40px;    
            }
    }
}